.no-touchevents .button,
.button {
  position: relative;

  //transition: all 0.4s ease-in-out;
  transition: none;
  border-radius: 100px;
  display: inline-block;
  padding: 0.57143em 2.14286em 0.57143em 2.14286em;
  line-height: 1.71429em;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
  text-decoration: none;
  font-weight: $font-weight-bold;
  vertical-align: baseline;
  text-shadow: none;

  color: $color-text;
  background: $color-button-default;

  &:hover {
    box-shadow: none;
    color: $color-text-lightest;
    background: $color-primary;
  }

  &--primary {
    color: $color-text-lightest;
    background: $color-primary;

    &:hover {
      background: $color-primary-dark;
    }
  }

  &--small {

  }

  &-action {
    padding-left: 2.14286em * 1.75;

    &:before {
      content: "+";
      position: absolute;
      display: inline-block;

      top: 50%;
      left: 1.14286em;

      width: 18px;
      height: 20px;

      text-indent: 3px;

      font-size: 14px;
      line-height: 18px;
      vertical-align: middle;
      text-align: center;

      border: solid 1px $color-text-lightest;
      border-radius: 50%;

      margin-top: -10px;
      margin-right: 10px;
    }
  }
}
