@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?sdrjfn');
  src:  url('../fonts/icomoon/icomoon.eot?sdrjfn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff2?sdrjfn') format('woff2'),
    url('../fonts/icomoon/icomoon.ttf?sdrjfn') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?sdrjfn') format('woff'),
    url('../fonts/icomoon/icomoon.svg?sdrjfn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @include make-icon();
}

.icon-paintbrush:before {
  content: "\e938";
}
.icon-file:before {
  content: "\e99e";
}
.icon-user:before {
  content: "\eaf7";
}
.icon-users:before {
  content: "\eaf8";
}
.icon-search:before {
  content: "\eb36";
}
.icon-wrench:before {
  content: "\eb5a";
}
.icon-cog:before {
  content: "\eb61";
}
.icon-stats-bars:before {
  content: "\eb8e";
}
.icon-puzzle:before {
  content: "\ec1f";
}
.icon-tree:before {
  content: "\ec65";
}
.icon-menu:before {
  content: "\ec6d";
}
.icon-star-full:before {
  content: "\ece5";
}
.icon-question:before {
  content: "\ed56";
}
.icon-arrow-up:before {
  content: "\edb9";
}
.icon-arrow-right:before {
  content: "\edbd";
}
.icon-arrow-down:before {
  content: "\edc1";
}
.icon-arrow-left:before {
  content: "\edc5";
}
.icon-arrow-up-small:before {
  content: "\edc7";
}
.icon-arrow-right-small:before {
  content: "\edc8";
}
.icon-arrow-down-small:before {
  content: "\edc9";
}
.icon-arrow-left-small:before {
  content: "\edca";
}
