input {
	&.form-autocomplete,
	&.form-text,
	&.form-tel,
	&.form-email,
	&.form-url,
	&.form-search,
	&.form-number,
	&.form-color,
	&.form-file,
	&.form-date,
	&.form-time,
	&.form-textarea {
		box-shadow: none;
		background: $color-background-content;
		padding: 0 0.57143em;
    border: 0.07143em solid $color-text-light;

    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;

    height: $font-size-base * 1.875;
    line-height: $font-size-base * 1.875;

    font-size: $font-size-base * 0.875;

	  &:hover,
	  &:focus,
	  &:active {
			border-color: $color-text;
			box-shadow: none;
	  }
	}
}

select {
	box-shadow: none;
	background: $color-background-content url(/core/misc/icons/333333/caret-down.svg) no-repeat center right;
	padding: 0 0.57143em;
  border: 0.07143em solid $color-text-light;

  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;

  height: $font-size-base * 1.875;
  line-height: $font-size-base * 1.875;

  font-size: $font-size-base * 0.875;

  &:hover,
  &:focus,
  &:active {
		background: $color-background-content url(/core/misc/icons/333333/caret-down.svg) no-repeat center right;
		border-color: $color-text;
		box-shadow: none;
  }
}

form {
	.form-item {
    margin-bottom: $font-size-base * 1.5;

		.description {
			color: $color-text-light;
		}
	}

	&.system-modules {
		summary {
			padding: 0 0 0 10px;
			line-height: $font-size-base * 2.5;
			border-bottom: none;

			&:hover {
				background-color: $color-background;
			}
		}

		details {
			border: solid 1px $color-background;
			margin: 0 0 30px;
		}

		.details-wrapper {
			padding: 0;
		}
	}
}

.form--inline {
	.form-actions {
		clear: none;
		float: left;
		margin-top: 1.5em;
		margin-left: 1em;
	}
}

.paragraphs-subform {
  > .form-wrapper {
	margin-top: 10px;

	&:first-child {
	  margin-top: 0;
  	}
  }
}
