body {
  background: $color-background;
  color: $color-text;
  font-family: Helvetica, Arial;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  > .layout-container {
    background: $color-background-content;
    padding: 40px 32px 100px;
  }
}

.content-header {
  background: transparent;
}
