table {
	tr {
		background-color: $color-background-content;

		.system-modules & {
			border-bottom: 0;
			background-color: $color-background;

			details {
				height: auto;
				margin-bottom: 0;
			}
		}

		.system-modules &,
		.locale-translation-status-form & {
			&.even,
			&.odd {
				border-bottom: 0;
			}

			&.odd {
				background-color: transparent;
			}

			&:nth-child(even) {
				background-color: $color-background;
			}

			details {
				summary {
					padding-left: 10px;
					padding-right: 10px;
					background-color: transparent;
				}

				.details-wrapper {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}

		&:nth-child(even) {
			background-color: $color-background;
		}
	}

	.details-wrapper & {
		margin: 0;
	}
}

thead th {
	border: none;
	border-bottom: solid 3px #edf1f5;
	background: transparent;

	> a:after {
		bottom: -12px;
	}

	> a:hover,
	> a:focus,
	&.is-active > a,
	&.is-active > a:hover,
	&.is-active > a:focus {
		color: $color-brand-dark;

		&:after {
			border-bottom-color: $color-brand-dark;
		}
	}
}
