.admin-list {
  li a {
    position: relative;
    background-image: none;

    &:before {
      @include make-icon();
      @extend .icon-arrow-right:before;

      position: absolute;

      top: 18px;
      left: 0;
    }
  }

  &.compact {
    li a {
      padding-left: 20px;

      &:before {
        top: 6px;
      }
    }
  }
}
