.ui-dialog .ui-dialog-titlebar {
  background: $color-background;
}

.ui-dialog .ui-dialog-title {
  color: $color-text;
}

.ui-dialog .ui-icon.ui-icon-closethick {
  background: url(../../../../../core/themes/seven/images/ui-icons-888888-256x240.png) no-repeat -96px -128px;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  background: $color-background;
  border-top: none;
}

.ui-dialog {
  box-shadow: 0 0 40px rgba(0, 0, 0, .3);
}

.views-ui-dialog .views-override {
  background: $color-background;
}

.views-ui-dialog .views-offset-top {
  border: none;
}
