.js .dropbutton .dropbutton-action > input,
.js .dropbutton .dropbutton-action > a,
.js .dropbutton .dropbutton-action > button {
  @extend .button;

  &:hover {
    background: darken($color-button-default, 10%) !important;
  }
}

.js .dropbutton-widget {
  background-color: transparent !important;
}

/**
 * Show dropbutton elements as buttons when javascript is disabled
 */
.js td .dropbutton-wrapper {
  min-height: 40px;
}

/**
 * Copied styling for .button.
 */
.dropbutton-multiple.open .dropbutton-widget {
  border-radius: 1em;
}

.js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-action button {
  border-radius: 20em 0 0 20em;
  padding: 8px 1.5em;
  display: block;
  width: 100%;
}

.js .dropbutton-multiple.open .dropbutton-action a,
.js .dropbutton-multiple.open .dropbutton-action .button {
  border-radius: 0;
}

.js .dropbutton-multiple.open .dropbutton-action:first-child a,
.js .dropbutton-multiple.open .dropbutton-action:first-child .button {
  border-radius: 0.9em 0 0 0;
}

.js .dropbutton-multiple.open .dropbutton-action:last-child a,
.js .dropbutton-multiple.open .dropbutton-action:last-child .button {
  border-radius: 0 0 0 0.9em;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus {
  //color: $white
  z-index: 3;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:active {
  text-decoration: none;
 }  //color: $white


/**
 * Rare instances when a dropbutton is actually just a button.
 * Copied from Seven's buttons.css.
 */
.dropbutton-single .dropbutton-widget {
  border: 0;
  position: static;
  display: inline-block;
}

.dropbutton-single .dropbutton-action a {
  padding: 4px 1.5em;
  border-radius: 20em!important;
  //color: #333333
  text-decoration: none;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  font-weight: 600;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  width: auto!important;
}

.dropbutton-single .dropbutton-action a:hover,
.dropbutton-single .dropbutton-action a:focus {
  //color: $white
  text-decoration: none;
  outline: none;
}

.dropbutton-single .dropbutton-action a:active {
  -webkit-transition: none;
  transition: none;
}

/**
 * The dropdown trigger.
 */
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  outline: none;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0 20em 20em 0;
}

.dropbutton-arrow {
  //border-top-color: $color-text-lightest
  right: 35%;
  top: 54%;
}

.dropbutton-wrapper.open .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0 0.9em 0.9em 0;
}

// Colors
//.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
//.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
//  background: darken($color-button-default, 10%) !important;
//}

.dropbutton-single .dropbutton-action a {
  color: $color-text;
}

// Backgrounds.
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover {
  background-color: darken($color-button-default, 20%);
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  background-color: $color-button-default;
}

.dropbutton-single .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:active {
  background-color: darken($color-button-default, 20%);
}

.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action input[type="submit"] {
  background-image: -webkit-linear-gradient(top, #007bc6, #0071b8);
  background-image: linear-gradient(to bottom, #007bc6, #0071b8);
  text-shadow: 0 0 rgba(0, 0, 0, 0);
}

.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #00a8f6 !important;
  color: white !important;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #b8c4ca !important;
  background-image: none;
  box-shadow: none;
}


/** CUSTOM **/

.dropbutton-widget {
  border: none !important;
}
