.page-manager-wizard-actions ul.inline {
  border: none;

  li {
    border: none;
  }
}

.page-manager-wizard-tree > ul {
  border-color: $color-background;

  li {
    border-color: $color-background;
    padding: 1em;
  }
}

.page-manager-wizard-form {
  border-color: $color-background;
}
