.panel {
  border: solid 1px $color-background;
  margin: 0 0 $font-size-base * 1.875;
  padding: 0;

  .panel__title {
    position: relative;
    background: $color-background;
    transition: all 300ms 0s ease-in-out;
    cursor: pointer;
    font-size: 1.14286em;
    line-height: 2.28571em;
    padding: $font-size-base * .75 $font-size-base * 2 $font-size-base * .75 $font-size-base * 1;
    font-weight: $font-weight-bold;
    text-transform: none;
  }

  .panel__content {
    background: $color-background-content;
    padding: $font-size-base * 1.875;
  }
}

.admin-list li {
  border-top: none;
  padding-top: 0;
}
