.tabs {
  &.primary {
    margin-top: 0;
  }

  .is-collapse-enabled &,
  .is-horizontal & {
    &:before {
      display: none;
    }
  }

  &__tab {
    border: none;
    background: $color-background-dark;
    border-bottom: solid 1px $color-background;

    &:hover {
      background: $color-background-darker;
    }

    &.is-active {
      margin: 0;
      background: $color-background-content;
    }

    a {
      font-size: $font-size-base * 1.125;
      line-height: $font-size-base * 3.125;
      padding: 0 $font-size-base * 3.75;
      color: $color-text;
    }
  }

  .is-horizontal & {
    &__tab + .tabs__tab {
      margin-left: 10px;
    }

    &.primary {
      .tabs__tab {
        border-radius: 0;

        &:first-child,
        &:last-child {
          border-radius: 0;
        }

        &:hover,
        &:focus {
          background: $color-background-darker;
        }

        &.is-active {
          margin: 0;
          background: $color-background-content;
        }

        + .tabs__tab.is-active {
          margin-left: 10px;
        }

        a {
          font-size: $font-size-base * .8;
          line-height: $font-size-base * 2;
          padding: 0 $font-size-base * 1.5;
          color: $color-text;
        }
      }
    }
  }

  .is-horizontal-enabled &.secondary,
  &.secondary {
    .tabs__tab {
      display: inline-block;
      width: auto;
      margin: 0;
      border-radius: 0;
      border-bottom: none;
      background: $color-background-dark;
      border: solid 1px $color-background-dark;

      + .tabs__tab {
        margin-left: 10px;
      }

      &:hover,
      &:focus {
        background: $color-background-darker;
        border: solid 1px $color-background-dark;
      }

      &.is-active {
        background: $color-background-content;
        border: solid 1px $color-background-dark;
      }

      a {
        font-size: $font-size-base * .875;
        line-height: $font-size-base * 2;
        padding: 0 $font-size-base * .625;
        color: $color-text;
      }
    }
  }
}
