.toolbar {
  height: auto !important;

  .toolbar-bar {
    background: $color-background-content;
    height: $toolbar-height;
  }

  .menu-item > ul {
    background: $color-text-dark;
  }

  .toolbar-tray {
    height: $toolbar-tray-height;
    background: $color-text-dark;
    background-position: 96% center !important;

    li {
      border: none !important;
      background: none;

      &:hover,
      &:focus,
      &.is-active,
      &.open > div > a {
        background-color: $color-text !important;
      }
    }

    a {
      height: $toolbar-tray-height;
      line-height: $toolbar-tray-height;
      padding-top: 0;
      padding-bottom: 0;
      color: $color-background-content !important;
      text-decoration: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:before {
        background-color: $color-background-content;
      }
    }

    button:before {
      background-color: $color-background-content;
    }
  }

  .toolbar-tray-vertical {
    box-shadow: none;
    border-right: none;

    .toolbar-lining {
      width: 100%;
      float: none;
      display: block;
    }

    .toolbar-icon-admin-toolbar-tools-help {
      text-indent: 0;
    }

    .toolbar-menu {
      border-left: solid 5px $color-text;
      margin-left: 0 !important;

      &.root {
        border-left-width: 0;
      }

      ul ul {
        border-top: none;
        border-bottom: none;
      }
    }
  }

  .toolbar-tray-horizontal {
    box-shadow: none;
    border-bottom: none;

    ul li.menu-item--expanded {
      position: relative;
      background-image: none !important;

      &:before {
        @include make-icon();

        position: absolute;
        display: block;
        background: none !important;

        width: ($font-size-base * 2) - 12 !important;
        height: ($font-size-base * 2) - 12 !important;

        font-size: $font-size-base * .75;
        line-height: ($font-size-base * 2) - 12 !important;
        text-align: center;
        text-indent: 0;

        top: 50%;
        right: $font-size-base / 4;

        padding: 0 !important;
        margin-top: -($font-size-base - 6);
        margin-left: 14px;

        @media only screen and (min-width: 36em) {
          margin-left: 0;
        }
      }
    }

    ul li.menu-item--expanded:hover ul {
      box-shadow: none;
    }

    ul li.menu-item--expanded .menu-item:hover ul {
      margin-top: -$toolbar-tray-height;
    }
  }

  .toolbar-menu {
    background: $color-text-dark;
  }

  .toolbar-tab {
    .toolbar-item {
      display: block;
      height: $toolbar-height;
      line-height: $toolbar-height;
      padding: 0 $font-size-base * 3;
      color: $color-text;

      transition: all $transition-default;

      &:hover,
      &:focus,
      &.is-active {
        background: $color-background;
        background-image: none !important;
        text-decoration: none;
      }

      &.toolbar-icon:before {
        margin-left: 14px;

        @media only screen and (min-width: 36em) {
          margin-left: 0;
        }
      }
    }
  }

  .toolbar-icon {
    padding-left: $font-size-base * 2.5 !important;

    &.toolbar-icon-admin-toolbar-tools-help {
      padding-right: 0 !important;

      &:before {
        background-image: url(../../../../../modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/d8-item.svg) !important;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        padding-bottom: 0;
        padding-left: 4px;
        padding-right: 8px;
        padding-top: 2px;
      }
    }

    &:before {
      @include make-icon();

      position: absolute;
      display: block;
      background-color: transparent !important;
      background-image: none !important;

      width: ($font-size-base * 2) - 12 !important;
      height: ($font-size-base * 2) - 12 !important;

      font-size: $font-size-base;
      line-height: ($font-size-base * 2) - 12 !important;
      text-align: center;
      text-indent: 0;

      top: 50%;

      padding: 0 !important;
      margin-top: -($font-size-base - 6);
    }

    &:focus {
      background-color: $color-text;
    }

    &.toolbar-handle {
      &:before {
        background-color: transparent;
        text-indent: 0;
      }

      &:focus {
        background-color: transparent;
      }
    }

    + ul .toolbar-icon {
      padding-left: $font-size-base !important;

      &:before {
        display: none;
      }
    }
  }

  .toolbar-toggle-orientation {
    background: $color-text;
    border: none !important;

    button {
      position: relative;
      height: $toolbar-tray-height;

      &:before {
        top: 50%;
        margin-top: -($font-size-base - 6);
        text-indent: 0;
      }

      &.toolbar-icon-toggle-horizontal {
        background: $color-background-content !important;
      }

      &.toolbar-icon-toggle-horizontal {
        background-color: $color-text-dark !important;
        text-align: left;

        width: 100%;
        text-indent: 0;

        &:before {
          left: 0.6667em;
          right: auto;
        }
      }
    }
  }

  .home-toolbar-tab {
    .toolbar-item {
      background: $color-brand;
      color: $color-text-lightest;

      &:hover {
        background: $color-brand-dark;
      }

      &.toolbar-icon:before {
        background-color: $color-brand-darker;
      }
    }
  }

  .menu-item:hover {
    background-color: $color-text !important;
  }
}

/* Our custom icons */
html body {
  .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:before {
    @extend .icon-arrow-right:before;
  }

  .toolbar .toolbar-icon-escape-admin:before {
    @extend .icon-arrow-left:before;
  }
  .toolbar .toolbar-icon-menu:before {
    @extend .icon-menu:before;
  }
  .toolbar .toolbar-icon-shortcut:before {
    @extend .icon-star-full:before;
  }
  .toolbar .toolbar-icon-user:before {
    @extend .icon-user:before;
  }
  .toolbar .toolbar-icon-coffee:before {
    @extend .icon-search:before;
  }
  .toolbar .toolbar-icon-devel:before {
    @extend .icon-cog:before;
  }

  .toolbar .toolbar-icon-system-admin-content:before {
    @extend .icon-file:before;
  }
  .toolbar .toolbar-icon-system-admin-structure:before {
    @extend .icon-tree:before;
  }
  .toolbar .toolbar-icon-system-themes-page:before {
    @extend .icon-paintbrush:before;
  }
  .toolbar .toolbar-icon-system-modules-list:before {
    @extend .icon-puzzle:before;
  }
  .toolbar .toolbar-icon-system-admin-config:before {
    @extend .icon-wrench:before;
  }
  .toolbar .toolbar-icon-entity-user-collection:before {
    @extend .icon-users:before;
  }
  .toolbar .toolbar-icon-system-admin-reports:before {
    @extend .icon-stats-bars:before;
  }
  .toolbar .toolbar-icon-help-main:before {
    @extend .icon-question:before;
  }

  .toolbar .toolbar-icon-toggle-horizontal:before {
    @extend .icon-arrow-up:before;
  }
  .toolbar .toolbar-icon-toggle-vertical:before {
    @extend .icon-arrow-left:before;
  }

  .toolbar .toolbar-handle:before {
    @extend .icon-arrow-down-small:before;
  }
  .toolbar .toolbar-handle.open:before {
    @extend .icon-arrow-up-small:before;
  }
}
