.views-displays {
  border-color: $color-background;
}

.views-display-top {
  background: $color-background;
  border-color: $color-background;
}

.form-edit .form-actions {
  background: $color-background;
  border-color: $color-background;
}

.views-preview-wrapper {
  border-color: $color-background;
}

.view-preview-form__title {
  background: $color-background;
  border-color: $color-background;
}

.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background: $color-background;
}

.views-ui-display-tab-bucket {
  border-color: $color-background;
}

.views-ui-display-tab-bucket__title, .views-ui-display-tab-bucket > .views-display-setting {
  padding: 6px 6px 11px;
}

.views-displays .tabs li a:hover, .views-displays .tabs li.is-active a, .views-displays .tabs li.is-active a.is-active {
  background: $color-primary;
}

.views-displays ul.secondary li a, .views-displays ul.secondary li.is-active a, .views-displays ul.secondary li.is-active a.is-active {
  padding: 0 10px;
  border-radius: 20px;
}

.views-displays .tabs.secondary a {
  padding: 0 10px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 20px;
}

.views-displays .tabs .add {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.is-horizontal-enabled .tabs.secondary .tabs__tab:hover, .is-horizontal-enabled .tabs.secondary .tabs__tab:focus, .tabs.secondary .tabs__tab:hover, .tabs.secondary .tabs__tab:focus {
  background: transparent;
}
