@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?sdrjfn");
  src: url("../fonts/icomoon/icomoon.eot?sdrjfn#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff2?sdrjfn") format("woff2"), url("../fonts/icomoon/icomoon.ttf?sdrjfn") format("truetype"), url("../fonts/icomoon/icomoon.woff?sdrjfn") format("woff"), url("../fonts/icomoon/icomoon.svg?sdrjfn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paintbrush:before {
  content: "\e938";
}

.icon-file:before {
  content: "\e99e";
}

.icon-user:before {
  content: "\eaf7";
}

.icon-users:before {
  content: "\eaf8";
}

.icon-search:before {
  content: "\eb36";
}

.icon-wrench:before {
  content: "\eb5a";
}

.icon-cog:before {
  content: "\eb61";
}

.icon-stats-bars:before {
  content: "\eb8e";
}

.icon-puzzle:before {
  content: "\ec1f";
}

.icon-tree:before {
  content: "\ec65";
}

.icon-menu:before {
  content: "\ec6d";
}

.icon-star-full:before {
  content: "\ece5";
}

.icon-question:before {
  content: "\ed56";
}

.icon-arrow-up:before {
  content: "\edb9";
}

.icon-arrow-right:before, .admin-list li a:before {
  content: "\edbd";
}

.icon-arrow-down:before {
  content: "\edc1";
}

.icon-arrow-left:before {
  content: "\edc5";
}

.icon-arrow-up-small:before {
  content: "\edc7";
}

.icon-arrow-right-small:before {
  content: "\edc8";
}

.icon-arrow-down-small:before {
  content: "\edc9";
}

.icon-arrow-left-small:before {
  content: "\edca";
}

body {
  background: #edf1f5;
  color: #223348;
  font-family: Helvetica, Arial;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body > .layout-container {
  background: #ffffff;
  padding: 40px 32px 100px;
}

.content-header {
  background: transparent;
}

input.form-autocomplete, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, input.form-file, input.form-date, input.form-time, input.form-textarea {
  box-shadow: none;
  background: #ffffff;
  padding: 0 0.57143em;
  border: 0.07143em solid #95a5a6;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

input.form-autocomplete:hover, input.form-autocomplete:focus, input.form-autocomplete:active, input.form-text:hover, input.form-text:focus, input.form-text:active, input.form-tel:hover, input.form-tel:focus, input.form-tel:active, input.form-email:hover, input.form-email:focus, input.form-email:active, input.form-url:hover, input.form-url:focus, input.form-url:active, input.form-search:hover, input.form-search:focus, input.form-search:active, input.form-number:hover, input.form-number:focus, input.form-number:active, input.form-color:hover, input.form-color:focus, input.form-color:active, input.form-file:hover, input.form-file:focus, input.form-file:active, input.form-date:hover, input.form-date:focus, input.form-date:active, input.form-time:hover, input.form-time:focus, input.form-time:active, input.form-textarea:hover, input.form-textarea:focus, input.form-textarea:active {
  border-color: #223348;
  box-shadow: none;
}

select {
  box-shadow: none;
  background: #ffffff url(/core/misc/icons/333333/caret-down.svg) no-repeat center right;
  padding: 0 0.57143em;
  border: 0.07143em solid #95a5a6;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

select:hover, select:focus, select:active {
  background: #ffffff url(/core/misc/icons/333333/caret-down.svg) no-repeat center right;
  border-color: #223348;
  box-shadow: none;
}

form .form-item {
  margin-bottom: 24px;
}

form .form-item .description {
  color: #95a5a6;
}

form.system-modules summary {
  padding: 0 0 0 10px;
  line-height: 40px;
  border-bottom: none;
}

form.system-modules summary:hover {
  background-color: #edf1f5;
}

form.system-modules details {
  border: solid 1px #edf1f5;
  margin: 0 0 30px;
}

form.system-modules .details-wrapper {
  padding: 0;
}

.form--inline .form-actions {
  clear: none;
  float: left;
  margin-top: 1.5em;
  margin-left: 1em;
}

.paragraphs-subform > .form-wrapper {
  margin-top: 10px;
}

.paragraphs-subform > .form-wrapper:first-child {
  margin-top: 0;
}

a,
.link {
  color: #00a8f6;
}

table tr {
  background-color: #ffffff;
}

.system-modules table tr {
  border-bottom: 0;
  background-color: #edf1f5;
}

.system-modules table tr details {
  height: auto;
  margin-bottom: 0;
}

.system-modules table tr.even, .system-modules table tr.odd,
.locale-translation-status-form table tr.even,
.locale-translation-status-form table tr.odd {
  border-bottom: 0;
}

.system-modules table tr.odd,
.locale-translation-status-form table tr.odd {
  background-color: transparent;
}

.system-modules table tr:nth-child(even),
.locale-translation-status-form table tr:nth-child(even) {
  background-color: #edf1f5;
}

.system-modules table tr details summary,
.locale-translation-status-form table tr details summary {
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
}

.system-modules table tr details .details-wrapper,
.locale-translation-status-form table tr details .details-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

table tr:nth-child(even) {
  background-color: #edf1f5;
}

.details-wrapper table {
  margin: 0;
}

thead th {
  border: none;
  border-bottom: solid 3px #edf1f5;
  background: transparent;
}

thead th > a:after {
  bottom: -12px;
}

thead th > a:hover,
thead th > a:focus,
thead th.is-active > a,
thead th.is-active > a:hover,
thead th.is-active > a:focus {
  color: #0085c3;
}

thead th > a:hover:after,
thead th > a:focus:after,
thead th.is-active > a:after,
thead th.is-active > a:hover:after,
thead th.is-active > a:focus:after {
  border-bottom-color: #0085c3;
}

.no-touchevents .button, .no-touchevents .js .dropbutton .dropbutton-action > input, .js .dropbutton .no-touchevents .dropbutton-action > input, .no-touchevents
.js .dropbutton .dropbutton-action > a,
.js .dropbutton .no-touchevents .dropbutton-action > a, .no-touchevents
.js .dropbutton .dropbutton-action > button,
.js .dropbutton .no-touchevents .dropbutton-action > button,
.button,
.js .dropbutton .dropbutton-action > input,
.js .dropbutton .dropbutton-action > a,
.js .dropbutton .dropbutton-action > button {
  position: relative;
  transition: none;
  border-radius: 100px;
  display: inline-block;
  padding: 0.57143em 2.14286em 0.57143em 2.14286em;
  line-height: 1.71429em;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
  text-decoration: none;
  font-weight: 700;
  vertical-align: baseline;
  text-shadow: none;
  color: #223348;
  background: #d5dce0;
}

.no-touchevents .button:hover, .no-touchevents .js .dropbutton .dropbutton-action > input:hover, .js .dropbutton .no-touchevents .dropbutton-action > input:hover, .no-touchevents
.js .dropbutton .dropbutton-action > a:hover,
.js .dropbutton .no-touchevents .dropbutton-action > a:hover, .no-touchevents
.js .dropbutton .dropbutton-action > button:hover,
.js .dropbutton .no-touchevents .dropbutton-action > button:hover,
.button:hover,
.js .dropbutton .dropbutton-action > input:hover,
.js .dropbutton .dropbutton-action > a:hover,
.js .dropbutton .dropbutton-action > button:hover {
  box-shadow: none;
  color: #ffffff;
  background: #00a8f6;
}

.no-touchevents .button--primary,
.button--primary {
  color: #ffffff;
  background: #00a8f6;
}

.no-touchevents .button--primary:hover,
.button--primary:hover {
  background: #0085c3;
}

.no-touchevents .button-action,
.button-action {
  padding-left: 3.75001em;
}

.no-touchevents .button-action:before,
.button-action:before {
  content: "+";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 1.14286em;
  width: 18px;
  height: 20px;
  text-indent: 3px;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  border: solid 1px #ffffff;
  border-radius: 50%;
  margin-top: -10px;
  margin-right: 10px;
}

.breadcrumb {
  margin-bottom: 16px;
}

.breadcrumb li + li:before {
  content: "/";
  color: #95a5a6;
}

.breadcrumb a {
  color: #95a5a6;
}

.tabs.primary {
  margin-top: 0;
}

.is-collapse-enabled .tabs:before,
.is-horizontal .tabs:before {
  display: none;
}

.tabs__tab {
  border: none;
  background: #dde4ec;
  border-bottom: solid 1px #edf1f5;
}

.tabs__tab:hover {
  background: #bccbda;
}

.tabs__tab.is-active {
  margin: 0;
  background: #ffffff;
}

.tabs__tab a {
  font-size: 18px;
  line-height: 50px;
  padding: 0 60px;
  color: #223348;
}

.is-horizontal .tabs__tab + .tabs__tab {
  margin-left: 10px;
}

.is-horizontal .tabs.primary .tabs__tab {
  border-radius: 0;
}

.is-horizontal .tabs.primary .tabs__tab:first-child, .is-horizontal .tabs.primary .tabs__tab:last-child {
  border-radius: 0;
}

.is-horizontal .tabs.primary .tabs__tab:hover, .is-horizontal .tabs.primary .tabs__tab:focus {
  background: #bccbda;
}

.is-horizontal .tabs.primary .tabs__tab.is-active {
  margin: 0;
  background: #ffffff;
}

.is-horizontal .tabs.primary .tabs__tab + .tabs__tab.is-active {
  margin-left: 10px;
}

.is-horizontal .tabs.primary .tabs__tab a {
  font-size: 12.8px;
  line-height: 32px;
  padding: 0 24px;
  color: #223348;
}

.is-horizontal-enabled .tabs.secondary .tabs__tab, .tabs.secondary .tabs__tab {
  display: inline-block;
  width: auto;
  margin: 0;
  border-radius: 0;
  border-bottom: none;
  background: #dde4ec;
  border: solid 1px #dde4ec;
}

.is-horizontal-enabled .tabs.secondary .tabs__tab + .tabs__tab, .tabs.secondary .tabs__tab + .tabs__tab {
  margin-left: 10px;
}

.is-horizontal-enabled .tabs.secondary .tabs__tab:hover, .is-horizontal-enabled .tabs.secondary .tabs__tab:focus, .tabs.secondary .tabs__tab:hover, .tabs.secondary .tabs__tab:focus {
  background: #bccbda;
  border: solid 1px #dde4ec;
}

.is-horizontal-enabled .tabs.secondary .tabs__tab.is-active, .tabs.secondary .tabs__tab.is-active {
  background: #ffffff;
  border: solid 1px #dde4ec;
}

.is-horizontal-enabled .tabs.secondary .tabs__tab a, .tabs.secondary .tabs__tab a {
  font-size: 14px;
  line-height: 32px;
  padding: 0 10px;
  color: #223348;
}

details {
  border: solid 1px #edf1f5;
  margin: 0 0 30px;
  padding: 0;
}

details summary {
  position: relative;
  background: #edf1f5;
  transition: all 300ms 0s ease-in-out;
  cursor: pointer;
  font-size: 1.14286em;
  line-height: 2.28571em;
  padding: 12px 32px 12px 16px;
  font-weight: 700;
  text-transform: none;
}

details .details-wrapper {
  padding: 30px;
}

.js .dropbutton .dropbutton-action > input:hover,
.js .dropbutton .dropbutton-action > a:hover,
.js .dropbutton .dropbutton-action > button:hover {
  background: #b8c4ca !important;
}

.js .dropbutton-widget {
  background-color: transparent !important;
}

/**
 * Show dropbutton elements as buttons when javascript is disabled
 */
.js td .dropbutton-wrapper {
  min-height: 40px;
}

/**
 * Copied styling for .button.
 */
.dropbutton-multiple.open .dropbutton-widget {
  border-radius: 1em;
}

.js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-action button {
  border-radius: 20em 0 0 20em;
  padding: 8px 1.5em;
  display: block;
  width: 100%;
}

.js .dropbutton-multiple.open .dropbutton-action a,
.js .dropbutton-multiple.open .dropbutton-action .button, .js .dropbutton-multiple.open .dropbutton .dropbutton-action > input, .js .dropbutton .dropbutton-multiple.open .dropbutton-action > input, .js .dropbutton-multiple.open .dropbutton .dropbutton-action > a, .js .dropbutton .dropbutton-multiple.open .dropbutton-action > a, .js .dropbutton-multiple.open .dropbutton .dropbutton-action > button, .js .dropbutton .dropbutton-multiple.open .dropbutton-action > button {
  border-radius: 0;
}

.js .dropbutton-multiple.open .dropbutton-action:first-child a,
.js .dropbutton-multiple.open .dropbutton-action:first-child .button, .js .dropbutton-multiple.open .dropbutton-action:first-child .dropbutton .dropbutton-action > input, .js .dropbutton .dropbutton-multiple.open .dropbutton-action:first-child .dropbutton-action > input, .js .dropbutton-multiple.open .dropbutton-action:first-child .dropbutton .dropbutton-action > a, .js .dropbutton .dropbutton-multiple.open .dropbutton-action:first-child .dropbutton-action > a, .js .dropbutton-multiple.open .dropbutton-action:first-child .dropbutton .dropbutton-action > button, .js .dropbutton .dropbutton-multiple.open .dropbutton-action:first-child .dropbutton-action > button {
  border-radius: 0.9em 0 0 0;
}

.js .dropbutton-multiple.open .dropbutton-action:last-child a,
.js .dropbutton-multiple.open .dropbutton-action:last-child .button, .js .dropbutton-multiple.open .dropbutton-action:last-child .dropbutton .dropbutton-action > input, .js .dropbutton .dropbutton-multiple.open .dropbutton-action:last-child .dropbutton-action > input, .js .dropbutton-multiple.open .dropbutton-action:last-child .dropbutton .dropbutton-action > a, .js .dropbutton .dropbutton-multiple.open .dropbutton-action:last-child .dropbutton-action > a, .js .dropbutton-multiple.open .dropbutton-action:last-child .dropbutton .dropbutton-action > button, .js .dropbutton .dropbutton-multiple.open .dropbutton-action:last-child .dropbutton-action > button {
  border-radius: 0 0 0 0.9em;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus {
  z-index: 3;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:active {
  text-decoration: none;
}

/**
 * Rare instances when a dropbutton is actually just a button.
 * Copied from Seven's buttons.css.
 */
.dropbutton-single .dropbutton-widget {
  border: 0;
  position: static;
  display: inline-block;
}

.dropbutton-single .dropbutton-action a {
  padding: 4px 1.5em;
  border-radius: 20em !important;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  font-weight: 600;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  width: auto !important;
}

.dropbutton-single .dropbutton-action a:hover,
.dropbutton-single .dropbutton-action a:focus {
  text-decoration: none;
  outline: none;
}

.dropbutton-single .dropbutton-action a:active {
  transition: none;
}

/**
 * The dropdown trigger.
 */
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  outline: none;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0 20em 20em 0;
}

.dropbutton-arrow {
  right: 35%;
  top: 54%;
}

.dropbutton-wrapper.open .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0 0.9em 0.9em 0;
}

.dropbutton-single .dropbutton-action a {
  color: #223348;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover {
  background-color: #9aabb5;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  background-color: #d5dce0;
}

.dropbutton-single .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:active {
  background-color: #9aabb5;
}

.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action input[type="submit"] {
  background-image: linear-gradient(to bottom, #007bc6, #0071b8);
  text-shadow: 0 0 transparent;
}

.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover, .js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton .dropbutton-action > input:hover, .js .dropbutton .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action > input:hover, .js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton .dropbutton-action > a:hover, .js .dropbutton .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action > a:hover, .js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton .dropbutton-action > button:hover, .js .dropbutton .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action > button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus, .js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton .dropbutton-action > input:focus, .js .dropbutton .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action > input:focus, .js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton .dropbutton-action > a:focus, .js .dropbutton .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action > a:focus, .js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton .dropbutton-action > button:focus, .js .dropbutton .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action > button:focus,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #00a8f6 !important;
  color: white !important;
}

.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #b8c4ca !important;
  background-image: none;
  box-shadow: none;
}

/** CUSTOM **/
.dropbutton-widget {
  border: none !important;
}

.panel {
  border: solid 1px #edf1f5;
  margin: 0 0 30px;
  padding: 0;
}

.panel .panel__title {
  position: relative;
  background: #edf1f5;
  transition: all 300ms 0s ease-in-out;
  cursor: pointer;
  font-size: 1.14286em;
  line-height: 2.28571em;
  padding: 12px 32px 12px 16px;
  font-weight: 700;
  text-transform: none;
}

.panel .panel__content {
  background: #ffffff;
  padding: 30px;
}

.admin-list li {
  border-top: none;
  padding-top: 0;
}

.entity-meta {
  background-color: #edf1f5;
}

.entity-meta__header {
  background-color: #edf1f5;
}

.vertical-tabs {
  background-color: #edf1f5;
}

.vertical-tabs__menu-item a {
  background-color: #edf1f5;
}

.admin-list li a {
  position: relative;
  background-image: none;
}

.admin-list li a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 18px;
  left: 0;
}

.admin-list.compact li a {
  padding-left: 20px;
}

.admin-list.compact li a:before {
  top: 6px;
}

.views-displays {
  border-color: #edf1f5;
}

.views-display-top {
  background: #edf1f5;
  border-color: #edf1f5;
}

.form-edit .form-actions {
  background: #edf1f5;
  border-color: #edf1f5;
}

.views-preview-wrapper {
  border-color: #edf1f5;
}

.view-preview-form__title {
  background: #edf1f5;
  border-color: #edf1f5;
}

.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background: #edf1f5;
}

.views-ui-display-tab-bucket {
  border-color: #edf1f5;
}

.views-ui-display-tab-bucket__title, .views-ui-display-tab-bucket > .views-display-setting {
  padding: 6px 6px 11px;
}

.views-displays .tabs li a:hover, .views-displays .tabs li.is-active a, .views-displays .tabs li.is-active a.is-active {
  background: #00a8f6;
}

.views-displays ul.secondary li a, .views-displays ul.secondary li.is-active a, .views-displays ul.secondary li.is-active a.is-active {
  padding: 0 10px;
  border-radius: 20px;
}

.views-displays .tabs.secondary a {
  padding: 0 10px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 20px;
}

.views-displays .tabs .add {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.is-horizontal-enabled .tabs.secondary .tabs__tab:hover, .is-horizontal-enabled .tabs.secondary .tabs__tab:focus, .tabs.secondary .tabs__tab:hover, .tabs.secondary .tabs__tab:focus {
  background: transparent;
}

.ui-dialog .ui-dialog-titlebar {
  background: #edf1f5;
}

.ui-dialog .ui-dialog-title {
  color: #223348;
}

.ui-dialog .ui-icon.ui-icon-closethick {
  background: url(../../../../../core/themes/seven/images/ui-icons-888888-256x240.png) no-repeat -96px -128px;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  background: #edf1f5;
  border-top: none;
}

.ui-dialog {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.views-ui-dialog .views-override {
  background: #edf1f5;
}

.views-ui-dialog .views-offset-top {
  border: none;
}

.page-manager-wizard-actions ul.inline {
  border: none;
}

.page-manager-wizard-actions ul.inline li {
  border: none;
}

.page-manager-wizard-tree > ul {
  border-color: #edf1f5;
}

.page-manager-wizard-tree > ul li {
  border-color: #edf1f5;
  padding: 1em;
}

.page-manager-wizard-form {
  border-color: #edf1f5;
}

.js .paragraphs-dropbutton-wrapper .dropbutton-widget .dropbutton-action a,
.js .paragraphs-dropbutton-wrapper .dropbutton-widget .dropbutton-action input,
.js .paragraphs-dropbutton-wrapper .dropbutton-widget .dropbutton-action button {
  width: 100%;
}
