@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?sdrjfn");
  src: url("../fonts/icomoon/icomoon.eot?sdrjfn#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff2?sdrjfn") format("woff2"), url("../fonts/icomoon/icomoon.ttf?sdrjfn") format("truetype"), url("../fonts/icomoon/icomoon.woff?sdrjfn") format("woff"), url("../fonts/icomoon/icomoon.svg?sdrjfn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paintbrush:before, html body .toolbar .toolbar-icon-system-themes-page:before {
  content: "\e938";
}

.icon-file:before, html body .toolbar .toolbar-icon-system-admin-content:before {
  content: "\e99e";
}

.icon-user:before, html body .toolbar .toolbar-icon-user:before {
  content: "\eaf7";
}

.icon-users:before, html body .toolbar .toolbar-icon-entity-user-collection:before {
  content: "\eaf8";
}

.icon-search:before, html body .toolbar .toolbar-icon-coffee:before {
  content: "\eb36";
}

.icon-wrench:before, html body .toolbar .toolbar-icon-system-admin-config:before {
  content: "\eb5a";
}

.icon-cog:before, html body .toolbar .toolbar-icon-devel:before {
  content: "\eb61";
}

.icon-stats-bars:before, html body .toolbar .toolbar-icon-system-admin-reports:before {
  content: "\eb8e";
}

.icon-puzzle:before, html body .toolbar .toolbar-icon-system-modules-list:before {
  content: "\ec1f";
}

.icon-tree:before, html body .toolbar .toolbar-icon-system-admin-structure:before {
  content: "\ec65";
}

.icon-menu:before, html body .toolbar .toolbar-icon-menu:before {
  content: "\ec6d";
}

.icon-star-full:before, html body .toolbar .toolbar-icon-shortcut:before {
  content: "\ece5";
}

.icon-question:before, html body .toolbar .toolbar-icon-help-main:before {
  content: "\ed56";
}

.icon-arrow-up:before, html body .toolbar .toolbar-icon-toggle-horizontal:before {
  content: "\edb9";
}

.icon-arrow-right:before, html body .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:before {
  content: "\edbd";
}

.icon-arrow-down:before {
  content: "\edc1";
}

.icon-arrow-left:before, html body .toolbar .toolbar-icon-escape-admin:before, html body .toolbar .toolbar-icon-toggle-vertical:before {
  content: "\edc5";
}

.icon-arrow-up-small:before, html body .toolbar .toolbar-handle.open:before {
  content: "\edc7";
}

.icon-arrow-right-small:before {
  content: "\edc8";
}

.icon-arrow-down-small:before, html body .toolbar .toolbar-handle:before {
  content: "\edc9";
}

.icon-arrow-left-small:before {
  content: "\edca";
}

.toolbar {
  height: auto !important;
}

.toolbar .toolbar-bar {
  background: #ffffff;
  height: 50px;
}

.toolbar .menu-item > ul {
  background: #172434;
}

.toolbar .toolbar-tray {
  height: 50px;
  background: #172434;
  background-position: 96% center !important;
}

.toolbar .toolbar-tray li {
  border: none !important;
  background: none;
}

.toolbar .toolbar-tray li:hover, .toolbar .toolbar-tray li:focus, .toolbar .toolbar-tray li.is-active,
.toolbar .toolbar-tray li.open > div > a {
  background-color: #223348 !important;
}

.toolbar .toolbar-tray a {
  height: 50px;
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff !important;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.toolbar .toolbar-tray a:before {
  background-color: #ffffff;
}

.toolbar .toolbar-tray button:before {
  background-color: #ffffff;
}

.toolbar .toolbar-tray-vertical {
  box-shadow: none;
  border-right: none;
}

.toolbar .toolbar-tray-vertical .toolbar-lining {
  width: 100%;
  float: none;
  display: block;
}

.toolbar .toolbar-tray-vertical .toolbar-icon-admin-toolbar-tools-help {
  text-indent: 0;
}

.toolbar .toolbar-tray-vertical .toolbar-menu {
  border-left: solid 5px #223348;
  margin-left: 0 !important;
}

.toolbar .toolbar-tray-vertical .toolbar-menu.root {
  border-left-width: 0;
}

.toolbar .toolbar-tray-vertical .toolbar-menu ul ul {
  border-top: none;
  border-bottom: none;
}

.toolbar .toolbar-tray-horizontal {
  box-shadow: none;
  border-bottom: none;
}

.toolbar .toolbar-tray-horizontal ul li.menu-item--expanded {
  position: relative;
  background-image: none !important;
}

.toolbar .toolbar-tray-horizontal ul li.menu-item--expanded:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  display: block;
  background: none !important;
  width: 20px !important;
  height: 20px !important;
  font-size: 12px;
  line-height: 20px !important;
  text-align: center;
  text-indent: 0;
  top: 50%;
  right: 4px;
  padding: 0 !important;
  margin-top: -10px;
  margin-left: 14px;
}

@media only screen and (min-width: 36em) {
  .toolbar .toolbar-tray-horizontal ul li.menu-item--expanded:before {
    margin-left: 0;
  }
}

.toolbar .toolbar-tray-horizontal ul li.menu-item--expanded:hover ul {
  box-shadow: none;
}

.toolbar .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item:hover ul {
  margin-top: -50px;
}

.toolbar .toolbar-menu {
  background: #172434;
}

.toolbar .toolbar-tab .toolbar-item {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 48px;
  color: #223348;
  transition: all 0.125s ease-out;
}

.toolbar .toolbar-tab .toolbar-item:hover, .toolbar .toolbar-tab .toolbar-item:focus, .toolbar .toolbar-tab .toolbar-item.is-active {
  background: #edf1f5;
  background-image: none !important;
  text-decoration: none;
}

.toolbar .toolbar-tab .toolbar-item.toolbar-icon:before {
  margin-left: 14px;
}

@media only screen and (min-width: 36em) {
  .toolbar .toolbar-tab .toolbar-item.toolbar-icon:before {
    margin-left: 0;
  }
}

.toolbar .toolbar-icon {
  padding-left: 40px !important;
}

.toolbar .toolbar-icon.toolbar-icon-admin-toolbar-tools-help {
  padding-right: 0 !important;
}

.toolbar .toolbar-icon.toolbar-icon-admin-toolbar-tools-help:before {
  background-image: url(../../../../../modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/d8-item.svg) !important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 2px;
}

.toolbar .toolbar-icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  display: block;
  background-color: transparent !important;
  background-image: none !important;
  width: 20px !important;
  height: 20px !important;
  font-size: 16px;
  line-height: 20px !important;
  text-align: center;
  text-indent: 0;
  top: 50%;
  padding: 0 !important;
  margin-top: -10px;
}

.toolbar .toolbar-icon:focus {
  background-color: #223348;
}

.toolbar .toolbar-icon.toolbar-handle:before {
  background-color: transparent;
  text-indent: 0;
}

.toolbar .toolbar-icon.toolbar-handle:focus {
  background-color: transparent;
}

.toolbar .toolbar-icon + ul .toolbar-icon {
  padding-left: 16px !important;
}

.toolbar .toolbar-icon + ul .toolbar-icon:before {
  display: none;
}

.toolbar .toolbar-toggle-orientation {
  background: #223348;
  border: none !important;
}

.toolbar .toolbar-toggle-orientation button {
  position: relative;
  height: 50px;
}

.toolbar .toolbar-toggle-orientation button:before {
  top: 50%;
  margin-top: -10px;
  text-indent: 0;
}

.toolbar .toolbar-toggle-orientation button.toolbar-icon-toggle-horizontal {
  background: #ffffff !important;
}

.toolbar .toolbar-toggle-orientation button.toolbar-icon-toggle-horizontal {
  background-color: #172434 !important;
  text-align: left;
  width: 100%;
  text-indent: 0;
}

.toolbar .toolbar-toggle-orientation button.toolbar-icon-toggle-horizontal:before {
  left: 0.6667em;
  right: auto;
}

.toolbar .home-toolbar-tab .toolbar-item {
  background: #00a8f6;
  color: #ffffff;
}

.toolbar .home-toolbar-tab .toolbar-item:hover {
  background: #0085c3;
}

.toolbar .home-toolbar-tab .toolbar-item.toolbar-icon:before {
  background-color: #006290;
}

.toolbar .menu-item:hover {
  background-color: #223348 !important;
}

/* Our custom icons */
