// Colors

$color-background: #edf1f5;
$color-background-dark: #dde4ec;
$color-background-darker: #bccbda;

$color-background-content: #ffffff;

$color-text-darkest: #030309;
$color-text-dark: #172434;
$color-text: #223348;
$color-text-light: #95a5a6;
$color-text-lightest: #ffffff;

$color-button-default: #d5dce0;

$color-primary: #00a8f6;
$color-primary-dark: darken($color-primary, 10%);

$color-brand: #00a8f6;
$color-brand-dark: darken($color-brand, 10%); // Or sth like this..
$color-brand-darker: darken($color-brand, 20%); // Or sth like this..


// Fonts

$font-size-base: 16px;

$font-weight-bold: 700;


// Transitions

$transition-default: .125s ease-out;


// Toolbar

$toolbar-height: 50px;
$toolbar-tray-height: 50px;
